
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound404</title>
</head>
<body>
    <div> 
       404 NotFound Url'yi Kontrol et!
    </div>
</body>
</html>
