@model WebApplication4.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
    <input type="checkbox" name="remmeberMe"/>
    <p style="float:left;margin-right:1%;">Beni Hatırla</p>
    <br />
    <input type="submit" value="Giriş Yap" class="btn btn-default"/>
}